/*-----ОБНУЛЕННЯ------------------------------------------*/
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, textarea, button {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/*-----------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
.page {
    flex: 1 1 auto;
}
/*-----------------------------------------------*/
.carousel-item {
    position: relative; height: 100%; width: 100%;
    padding-bottom: 25%;
}
.carousel-item img {
    object-fit: contain; position: absolute;height: 100%; width: 100%; top: 0;left: 0;
}
.nav-link {
    display: inline-block;
    color: #000;
    position: relative;
    overflow: hidden;
}
.nav-link:hover {
    color: #000;
}
.nav-link::after {
    transition: all 0.3s linear 0s;
    content: "";
    position: absolute;
    bottom: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
}
.nav-link:hover::after {
    left: 0;
    background-color: #000;
}
@media (max-width: 576px) {
    .nav-link {
        padding: 15px 0 15px 0;
    }
    .navbar-nav a {
        text-align: center;
        font-size: 20px;
    }
}
.title__text {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.carousel-item-pc img {
    transform: scale(1.3);
}
.title__text, .categories__title__text {
    text-transform: uppercase;
}
.card {
    text-align: center;
    height: 100%;
    overflow: hidden;
}
.card-body >*:not(:last-child) {
    margin-bottom: 15px;
}
.card-body .card-title {
    color: #000;
    transition: all 0.3s ease 0s;
}
.card-body .card-title:hover {
    color: #0d6efd;
}
.card__image {
    padding: 10px;
}
.card__image img {
    transition: all 0.25s ease 0s;
}
.card__image img:hover {
    transform: scale(1.07);
}
.card-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.card-text, .card-price {
    font-size: 16px;
}
.card-price {
    font-weight: 600;
}
.btn {
    font-weight: 700;
    font-size: 16px;
    justify-self: flex-end;
}
.tabs {
    margin-top: 70px;
    margin-bottom: 70px;
}
@media (max-width: 767px) {
    .tabs {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.list-group-item {
    padding: 12px 0 12px 10px;
    font-size: 16px;
}
.tab-pane {
    font-size: 16px;
    line-height: 140%;
}
.tab-pane:not(:last-child):first-letter {
    padding-left: 25px;
}
.tab-pane a {
    color: #000;
}
.tab-pane a:hover {
    text-decoration: underline;
}
footer h5 {
    font-size: 20px;
    font-weight: 600;
}
.footer__menu_link {
    font-size: 16px;
    color: #000;
}
.list-unstyled {
    margin-top: 10px;
}
.footer__menu_link:hover {
    text-decoration: underline;
    color: #000;
}
@media (max-width: 576px) {
    .footer-row {
        flex-direction: column;
        text-align: center;
    }
}